// 配置规则：http://eslint.cn/docs/user-guide/configuring
{
  // 解析器
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  // ts规则补充、tsx支持
  "plugins": ["@typescript-eslint", "react", "react-hooks", "prettier", "simple-import-sort"],
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "eslint:recommended",
    "plugin:prettier/recommended"
  ],
  // 各环境支持情况
  "env": {
    "browser": true,
    "node": true,
    "commonjs": true,
    "es6": true
  },
  "rules": {
    "object-curly-spacing": ["error", "never"],
    "comma-dangle": ["error", "never"],
    "simple-import-sort/imports": "error",
    "@typescript-eslint/no-explicit-any": "off",
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": ["error"]
  },
  "overrides": [
    {
      "files": ["**/*.test.tsx", "**/*.test.ts"],
      "env": {
        "jest": true
      }
    }
  ]
}
